.verify_user {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: #0085FF;
  display: flex;
  width: 40px;
}

.verify_user svg:nth-child(2) {
  height: 15px;
  width: 15px;
}

.chat_header {
  align-items: center;
  background-color: #0085FF;
  color: white;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}

.chat_header svg {
  cursor: pointer;
}

.chat_header_user {
  align-items: center;
  display: flex;
}

.chat_header_user img{
  height: 47px;
  width: 50px;
}

.chat_header_user_info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
}

.chat_header_user_info h1 {
  font-size: 13px;
}

.chat_header_user_info span{
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .chat{
    max-width: 600px;
    height: 600px;
    position: fixed;
    top: 20%;
    right: 38%;
    box-shadow: 0 0 6px black;
    border-radius: 0 0 0 5px;
  }
  
  .chat_header {
    height: 10vh;
  }
  
  .chat_header_user img {
    height: 65px;
    width: 70px;
  }
  
  .chat_header_user_info {
    font-size: 14px;
  }
}

.chat_user_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chat_user_info h2 {
  font-size: 22px;
}

.chat_user_info span {
  font-size: 13px;
}

.chat_user_info span:nth-child(3) {
  color: rgba(14, 13, 13, 0.527);
}

.chat_user_info svg {
  height: 15px;
  width: 15px;
  background-color: #0085FF;
  color: white;
  border-radius: 50%;
}

.chat_user {
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  margin: 1rem 0;
  padding: 1rem 0;
}

.chat_messages {
  height: 65%;
}

.chat_type_messages {
  align-items: center;
  bottom: 0%;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  position: fixed;
  width: 100%;
}

.input_message input {
  border-radius: 6px;
  border: 1px solid gray;
  padding: 10px;
  position: relative;
}

.input_message svg {
  color: #0085FF;
  position: absolute;
  right: 13%;
  top: 25%;
}

.add_icon {
  border-radius: 50%;
  background-color: #0085FF;
  color: white;
}

.send_message {
  color: #0085FF;
}