.chat_header {
  align-items: center;
  background-color: #0085FF;
  color: white;
  display: flex;
  height: 11vh;
  justify-content: space-between;
  padding: 0 2px;
  width: 100%;
}

.chat_header svg {
  cursor: pointer;
}

.chat_header_user {
  align-items: center;
  display: flex;
}

.chat_header_user img{
  height: 55px;
  width: 60px;
}

.chat_header_user_info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
}

.verify_user {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: #0085FF;
  display: flex;
  width: 40px;
}

.verify_user svg:nth-child(2) {
  height: 15px;
  width: 15px;
}